body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Lato-Regular', sans-serif;
  width: 100%;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.header_theme {
  background-color: #2d303a;
  height: 89px;
  width: 100%;
  max-width: 1020px;
  border-bottom: 6px solid #313645;
}

.header__logo {
  width: 20%;
  margin-top: 37px;
}

.header__navigation {
  width: 80%;
  margin-top: 22px;
}

.display-none:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.logo {
  margin-left: 40px;
}

.logo_theme {
  font-size: 25px;
  font-family: 'Lato-Bold', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 0.253;
  letter-spacing: -0.02em;
  color: rgb(255, 255, 255);
}

.logo span {
  color: #f06c64;
}

.logo:hover,
.logo:focus {
  color: #f06c64;
  cursor: pointer;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
}

.navigation__item {
  position: relative;
  margin: 0 15px 0;
}

.navigation__item .header_link {
  display: inline-block;
}

.header_link-theme {
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lato-Bold', sans-serif;
  line-height: 0.527;
  color: #f1f1f2;
}

.navigation__item:nth-child(3) {
  margin: 0 13px 0;
}

.navigation__item:last-child {
  margin-right: 38px;
}

.navigation__item:not(:first-child)::after {
  content: '';
  position: absolute;
  left: -16px;
  top: 56%;
  width: 3px;
  height: 3px;
  background: #414552;
}

.header_link:focus,
.header_link:hover {
  color: #f06c64;
  cursor: pointer;
}

.main_theme {
  width: 100%;
  max-width: 1020px;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider {
  position: relative;
  height: 594px;
  width: 100%;
}

.slider__theme {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.button {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.button_theme_left {
  top: 47%;
  left: 37px;
}

.button_theme_right {
  top: 47%;
  right: 33px;
}

button:hover,
button:focus {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.container {
  position: relative;
}

.iphone_vertical {
  position: absolute;
  top: 52px;
  left: 112px;
}

.iphone_gorizontal {
  position: absolute;
  right: 111px;
  top: 174px;
}

.services {
  position: relative;
  height: 494px;
  width: 100%;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  display: block;
  margin-left: 39px;
  margin-top: 60px;
  margin-bottom: 18px;
}

.title_theme {
  font-family: 'Lato-Black', sans-serif;
  font-size: 30px;
  color: #666d89;
}

.services__text {
  display: block;
  margin: 0px 39px;
}

.text_theme {
  font-family: 'Lato-Light', sans-serif;
  font-size: 18px;
  color: #767e9e;
  line-height: 27px;
  line-height: 30px;
  letter-spacing: -0.013rem;
  word-spacing: 2.7px;
}

.sevices__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cards__item {
  position: relative;
  width: 300px;
  height: 123px;
  margin: 0 10px;
}

.description__title {
  font-family: 'Lato-Black', sans-serif;
  font-size: 18px;
  line-height: 0.992;
  color: #666d89;
}

.description__text {
  font-size: 12px;
  line-height: 21px;
  font-family: 'Lato-Regular', sans-serif;
  text-align: justify;
  color: #666d89;
  letter-spacing: -0.009rem;
  margin-top: -10px;
}

.item__image {
  position: relative;
}

.item__image .image__centre {
  position: absolute;
  left: 2px;
  top: 48px;
}

.item__description {
  position: absolute;
  left: 80px;
  top: 28px;
  width: 220px;
  height: 110px;
  overflow: hidden;
}
